.vs
bin
obj
node_modules
_ReSharper.Caches
/packages
*.user
/DexExp.Web/node_modules/**
/DexExp.Web/wwwroot/lib/*
*.map
DexExp.Web/wwwroot/apps/**/*.js
DexExp.Web/wwwroot/apps/**/*.css
/DexExp.Web/typings/*
/DexExp.Web/wwwroot/js/typescript.js
/DexExp.Web/wwwroot/js/system.js
/DexExp.Web/wwwroot/js/system-polyfills.js
/DexExp.Web/wwwroot/js/shims_for_IE.js
/DexExp.Web/wwwroot/js/Rx.js
/DexExp.Web/wwwroot/js/jquery.signalR.js
/DexExp.Web/wwwroot/js/jquery.js
/DexExp.Web/wwwroot/js/es6-shim.min.js
/DexExp.Web/wwwroot/js/bootstrap.js
/DexExp.Web/wwwroot/js/angular2/router.dev.js
/DexExp.Web/wwwroot/js/angular2/http.dev.js
/DexExp.Web/wwwroot/js/angular2/angular2.dev.js
/DexExp.Web/wwwroot/js/angular2/angular2-polyfills.js
/DexExp.Web/wwwroot/js/@aspnet/*
Dex.WebApi/wwwroot/files/*
DexExp.Web/npm-debug.log
DexExp.Web/wwwroot/js/Rx.min.js
DexExp.Web/wwwroot/js/angular2/angular2-polyfills.min.js
DexExp.Web/wwwroot/js/angular2/angular2.dev.min.js
DexExp.Web/wwwroot/js/angular2/http.dev.min.js
DexExp.Web/wwwroot/js/angular2/router.dev.min.js
DexExp.Web/wwwroot/js/es6-shim.min.min.js
DexExp.Web/wwwroot/js/shims_for_IE.min.js
DexExp.Web/wwwroot/js/system-polyfills.min.js
DexExp.Web/wwwroot/js/system.min.js
DexExp.Web/wwwroot/js/typescript.min.js
DexExp.Web/wwwroot/js/@aspnet/*
TestConsoleApp/App.config
TestConsoleApp/Program.cs
TestConsoleApp/Properties/AssemblyInfo.cs
TestConsoleApp/TestConsoleApp.csproj
TestConsoleApp/packages.config
TestLog/Program.cs
TestLog/App.config
TestLog/Properties/AssemblyInfo.cs
TestLog/TestLog.csproj
TestLog/packages.config
typings/*
DexExp.Web/.vscode
DexExp.Web/wwwroot/css/**/*.css
!DexExp.Web/wwwroot/css/**/demo-phone.css
TelegramClient/packages/*
TestResults/*
!DexExp.Web/wwwroot/apps/**/*.e2e.spec.js
test-results/*
Dex.BotLogicTest/files/
.idea
Dex.WebApi.Tests/Configs/Temp
/**/*.lock.json
TestReports/*
!Dex.WebApi/wwwroot/files/_default.zip
logs
Dex.BotsDashboard.Api.Tests/Bots/Configs/Temp
Dex.BotsDashboard.Api/wwwroot/files/*
Dex.GenerateReport.Tools/packages